@import "~libq.js/assets/css/ui.css";
@import url(../../plugins/album_player/album_player.css);



.func-buttons .iconfont-imagecap {
  font-size: 32px;
}

/** \brief wayixia style css
 *
 */

/**
 toolbar button css style
 */

 button.wayixia-toolbar-button {
  background: transparent url(../images/canvas-toolbar.png) left top no-repeat;
  height: 40px;
  width:45px;
  border-width: 0;
  outline: 0;
  padding: 0;
  position: relative;
  margin-top:1px;
}

.wayixia-toolbar-button:hover {
  background-color: #FFDD00;
}

.wayixia-toolbar-button:active,
.dropdown:active
{
  outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.225);box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.225);
}


.wayixia-toolbar-button .split 
{
  border-width: 0;
  border-right: 1px solid #ddd;
  width: 0px;
  position: absolute;
  right:0;
  top: 8px;
  height: 28px;
}

.wayixia-toolbar-button.checked {
  background-color: #CCC;
}

.wayixia-toolbar-button.zoom {
  background-position:  -270px top;
}

.wayixia-toolbar-button.zoom:hover {
  background-color: transparent;
}

.wayixia-toolbar-button.download {
  background-position:  -228px top;
}

.wayixia-toolbar-button.download.ext, .wayixia-toolbar-button.tocloud.ext {
  width: 52px;
}

.wayixia-toolbar-button.tocloud {
  background-position:  -360px -45px;
}

.wayixia-toolbar-button.restore {
  background-position:  -180px top;
}

.wayixia-toolbar-button.text {
  background-position:  0px top;
}

.wayixia-toolbar-button.arrow {
  background-position:  -45px top;
}

.wayixia-toolbar-button.rect {
  background-position:  -90px top;
}

.wayixia-toolbar-button.eclipse{
  background-position:  -135px top;
}


.wayixia-toolbar-button.line {
  background-position:  -315px top;
}

.wayixia-toolbar-button.brush {
  background-position:  -360px top;
}

.wayixia-toolbar-button.eraser {
  background-position:  -405px top;
}



.wayixia-toolbar-button.color {
  background-image: none;
  background-color: transparent;
  position: relative;
  background: transparent url(../images/dropdown.png) right 16px no-repeat;
}


.wayixia-toolbar-button.size {
  position: relative;
  padding: 0;
  line-height: 31px;
  background: transparent url(../images/dropdown.png) right 16px no-repeat;
  color: #515151;
}

/** display toolbar button */
.wayixia-toolbar-button.block {
  background-position: 1px -45px;
}

.wayixia-toolbar-button.selectall {
  background-position: -46px -45px;
}

.wayixia-toolbar-button.selectall.checked {
  background-position: -91px -45px;
}


.wayixia-toolbar-button.showblock {
  background-position: -180px -45px;
}

.wayixia-toolbar-button.showblock.checked {
  background-position: -135px -45px;
}

.wayixia-toolbar-button.filter {
  background-position: -225px -45px;
  background-color: transparent;
}

.wayixia-toolbar-button.undo {
  background-position: -270px -45px;
}

.wayixia-toolbar-button.redo {
  background-position: -315px -45px;
}



.wayixia-toolbar-button .dropdown {
  position: absolute;
  width: 15px;
  height:100%;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent url(../images/dropmenu.png) center center no-repeat;
  border-width:0;
}

.wayixia-toolbar-button .dropdown:hover {
  background-color: #FC0;
}


.wayixia-toolbar-button.download.checked .dropdown,
.wayixia-toolbar-button.tocloud.checked .dropdown
{
  background-color: transparent;
}


/** \brief layout of wayixia panel
 *
 */
#wayixia-title-bar {
  position: fixed; 
  left: 0px; 
  top: 0px; 
  right: 0px; 
  height: 50px; 
  line-height: 50px; 
  color: #CCC; 
  text-indent: 10px; 
  cursor: default; 
  text-align: left;
  text-shadow: 1px 1px #000; 
  font-size: 18px; 
  background: rgb(45, 45, 45);
}

/*
#wayixia-title-bar:active {
  outline:0;background-image:none;-webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.325);box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.325);
}
  */

/* wayixia user menu */

#wayixia-user-menu {
  position: absolute;
  right: 0px;
  top: 0;
  bottom:0;
  width: 300px;
  text-align: right;
}

#wayixia-user-menu button {
  outline:0;
  border: 0px;
  height: 38px;
  line-height: 42px;
  margin-right: 3px;
  background-color: transparent;
  color: #999;
  font-size: 16px;
}


#wayixia-user-menu button:hover {
  color: #FFF;
  cursor: hand;
}

button#wayixia-close {
  display: none;
}

#wayixia-help {
  visibility: visible;
}

#wayixia-bugs
{
  display: none;
  position: relative;
  background: transparent url(../images/bug.tips.png) left 10px no-repeat;
  width: 28px;
  opacity: 0.9;
}

button#wayixia-bugs {
  margin-right: 10px;
}

#wayixia-bugs:hover
{
  background-colors: #FF0;
  opacity: 1;
}

#wayixia-bugs-num {
  border: 1px solid white;
  width: 13px;
  background-color: #f3bf21;
  border-radius: 4px;
  color: #fff;
  font: bold 10px Arial;
  left: 13px;
  height:13px;
  line-height: 15px;
  padding: 0 1px;
  position: absolute;
  text-align: center;
  top: 5px;
  visibility: hidden;
}

#wayixia-gotop {
  position: fixed;
  background: transparent url(../images/gotop.gif) center center no-repeat;
  width: 44px;
  height: 44px;
  right: 50px;
  bottom: 50px;
  z-index: 1000;
  box-shadow:0 1px 15px rgba(0,0,0,.2);
  -moz-box-shadow:0 1px 15px rgba(0,0,0,.2);
  -webkit-box-shadow:0 1px 15px rgba(0,0,0,.2)
}

#wayixia-gotop:active {
  outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.325);box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.325);
}

/* wayixia container */

#wayixia-container, #wayixia-container * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}

#wayixia-container {
  font-family: arial, 'helvetica neue', sans-serif;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFF;
  opacity: 1;
  hasLayout: -1;
  overflow:auto;
  padding-bottom: 15px;
}

/* wayixia toolbar */
#wayixia-toolbar, #wayixia-toolbar-screenshot {
  position:fixed;
  top: 50px;
  left: 0px;
  right: 0px;
  height: 42px;
  padding:0;
  margin:0;
  z-index: 10;
  border-bottom: 1px solid #CCC;
  background-color: #FFF;
  display: none;
}

#wayixia-toolbar.dropshadow, #wayixia-toolbar-screenshot.dropshadow {

  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 9px rgba(0,0,0,.5);
  -moz-box-shadow: 0 1px 9px rgba(0,0,0,.5);
  -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.5);

}

#wayixia-toolbar a, #wayixia-toolbar-screenshot a {
  font-size: 14px;
  color: #000;
  text-decoration: none;
  margin-left: 5px;
  display:inline-block;
  position: relative;
}


#wayixia-view
{
  float: right;
  margin: 0 10px 0 0;
  text-decoration: underline;
  height:40px;
}

#wayixia-screenshot-image {
  position: absolute;
}

/** user define wndx style */
#wayixia-progress {
  visibility: hidden;
  z-index: 90000;
  margin: 0 auto;
  background: #FFF;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
}

#wayixia-progress h4 {
  line-height: 50px;
  font-size: 20px;
  font-weight: normal;
  margin: 0 auto;
  color: #999;
}

#wayixia-progress #wayixia-progress-bar {
  margin: 0 auto;
  width: 380px;
  height: 13px;
  border: 1px solid #CCC;
}

#wayixia-progress #wayixia-progress-bar #wayixia-progress-bar-thumb {
  background: #428abc url(../images/capturing.gif) repeat-x left top;
  width: 130px;
  height: 100%;
}

.q-window.q-attr-progress  {
  border: 0px outset #CCC;
  box-shadow:0 1px 15px rgba(0,0,0,.2);
  -moz-box-shadow:0 1px 15px rgba(0,0,0,.2);
  -webkit-box-shadow:0 1px 15px rgba(0,0,0,.2)
}

/* simple os window */
/*
.q-window {
  background-color: transparent;
  border:1px solid #AAA;
  border-radius: 3px;
  border-radius: 3px;
}

.q-window .q-icon {
  background-image: url(../images/icon.png);
  left: 0;
}

.q-window .q-title {
  background-color: #74a9c5;
}

.q-window .q-window-client,
.q-window .q-bottom-bar
{
  background: #FFF;
}

.q-window .q-bottom-bar
{
  height: 38px;
  line-height: 38px;
}

.q-window.q-attr-with-bottom .q-window-client { bottom: 39px; }

.q-window .q-title-content {
  font-size:16px;
  line-height: 28px;
  left: 21px;
}


*/

.q-top-mask {
  -webkit-animation-name: fademask;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fademask;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fademask {
  from {opacity: 0} 
  to {opacity: .5}
}

@keyframes fademask {
  from {opacity: 0} 
  to {opacity: .5}
}



.q-window .q-sysokbtn,
.q-window .q-syscancelbtn
{
  background-color: #007bff;
  outline: 0;
  border-radius: 3px;
  border-radius: 3px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
}

.q-window .q-syscancelbtn {
  background-color: #EEE;
  color: #000;
}




.q-window.w-window {
  background-color: white;
  background-repeats: repeat-x;
  borders: 10px solid rgb(31, 30, 30);
  border: 1px solid #999;
  border-top-widths: 5px;
  border-radius: 5px;
  border-radius: 5px;
}

.q-window.w-window .q-title {
  background: #FFF;
  height:48px;
  line-height:48px; 
  border-bottom: 1px solid #EEE;
}

.q-window.w-window .q-title button {
  color: #999;
  font-size: 28pt;
  margin-top: 3px;
}

.q-window.w-window .q-title button:hover {
  color: #000;
  background-color: transparent;
}

.q-window.w-window .q-window-client
{
  top: 50px;
  font-size: 11pt;
}

.q-window.w-window .q-window-client,
.q-window.w-window .q-bottom-bar
{
  background: #FFF;
}

.q-window.w-window .q-bottom-bar
{
  height: 48px;
  line-height: 48px;
}


.q-window.w-window .q-bottom-bar button
{
  display: inline-block; 
}

.q-window.w-window.q-attr-with-bottom .q-window-client { bottom: 48px; }

.q-window.w-window .q-title-content {
  font-size:13pt;
  height: 50px;
  line-height: 50px;
  color: #333;
  left: 28px;
}



/* start menu */

.q-contextmenu.wayixia-menu {
  border-width: 0;
  box-shadow:0 1px 15px rgba(0,0,0,.2);
  -moz-box-shadow:0 1px 15px rgba(0,0,0,.2);
  -webkit-box-shadow:0 1px 15px rgba(0,0,0,.2);
  min-width: 170px;
  background-image: none; 
  background-repeat: repeat-y;
  background-position: left top;
  background-color: #FFF;
  z-index: 910000;
}

.q-contextmenu.wayixia-menu .q-item {
  height: 30px;
  line-height: 30px;
}

.q-contextmenu.wayixia-menu .q-item .q-item-icon {
  width: 15px;
}

.q-contextmenu.wayixia-menu .q-item.q-seperator,
.q-contextmenu.wayixia-menu .q-item.q-seperator:hover
{
  height: 15px;
  background-color: none;
}

.q-contextmenu.wayixia-menu .q-item-seperator .q-line {
  left: 5px;
  background-color: #CCC;
}

.q-contextmenu.wayixia-menu .q-item .q-item-title {
  line-height: 30px;
  font-size: 14px;
}

.q-contextmenu.wayixia-menu .q-item:hover, 
.q-contextmenu.wayixia-menu .q-item.q-active 
{
  background-color: #2d26fd;
}

.q-select.wayixia-menu {
  height: 42px;
  min-width: 50px;
  font-size: 15px;
  font-family: 'Segoe UI', Arial, 'Microsoft Yahei', Simsun, sans-serif;
  text-indent: 15px;
  background: transparent;
  border-color: transparent;
}

.q-select.wayixia-menu {
  background: transparent url(../images/view-type.png) left center no-repeat;
}

.q-select.wayixia-menu.checked {
  background: transparent url(../images/view-type.png) left center no-repeat;
}

/* images-box style */

.q-images-box {
  overflow-y:scroll;
  overflow-x:auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: #222;
}

.q-images-box.size_1 .q-box-item {
  width: 100px;
  height: 100px;
}
.q-images-box.size_2 .q-box-item {
  width: 200px;
  height: 200px;
}

.q-images-box.size_3 .q-box-item {
  width: 300px;
  height: 500px;
}

.q-images-box .q-box-item {
  borders: transparent 2px solid;
  box-shadows: 0 1px 9px rgba(0,0,0,.1);
-moz-box-shadows: 0 1px 9px rgba(0,0,0,.1);
-webkit-box-shadows: 0 1px 9px rgba(0,0,0,.1);
 z-index: auto;
 padding: 5px;
 background-color: transparent;
}

.q-images-box .q-box-item .image {
  box-shadow: 0 1px 9px rgba(0,0,0,.5);
-moz-box-shadow: 0 1px 9px rgba(0,0,0,.5);
-webkit-box-shadow: 0 1px 9px rgba(0,0,0,.5);
}

.q-images-box .q-box-item:hover,
.q-images-box .q-box-item.mouseselected
{
  borders: blue  2px solid;
}


.q-images-box .q-box-item .tocloud, 
.q-images-box .q-box-item .save,
.q-images-box .q-box-item .preview,
.q-images-box .q-box-item .edit 
{
  background-color: transparent;
  background-image: url(../images/canvas-toolbar.png);
  background-repeat: no-repeat;
  border-width: 0;
  outline: 0;
  margin-right:2px;
}



.q-images-box .q-box-item .tocloud { background-position: -60px -160px; }
.q-images-box .q-box-item .tocloud:hover {  background-position: -60px -180px; background-color: #000; }
.q-images-box .q-box-item .save { background-position: -20px -160px; }
.q-images-box .q-box-item .save:hover { background-position: -20px -180px; background-color: #000; }
.q-images-box .q-box-item .preview { background-position: left -160px; }
.q-images-box .q-box-item .preview:hover { background-position: left -180px;background-color: #000; }
.q-images-box .q-box-item .edit { background-position: -40px -160px; }
.q-images-box .q-box-item .edit:hover { background-position: -40px -180px; background-color: #000; }

.q-images-box .q-box-item .split {
  border-right: 1px solid #999;
  margin-right: 2px;
}

.q-images-box .q-box-item .q-box-info {
    padding: 5px 10px;
    background-color: #515151;
    border: 1px solid #000;
    display: none;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
}

.q-images-box .q-box-item:hover .q-box-info {
  display: block;
}


.wayixia-box .wing-box {
  display: none;
  position:absolute;
  left:10px;
  top:70px;
  right:10px;
  bottom:0px; 
  height:50px;
  border-radius:5px;
  border:1px solid #F1F1F1;
  line-height:50px;
  font-size:14px;
  font-family:arial;
  text-align:left;
}

.q-images-box .wing-box-ing {
  display: block ;
  text-indent: 53px;
  background:#FFF url(../images/wing32.gif) 10px center no-repeat;
}

.q-images-box .wing-box-ok {
  display:block ;
  text-indent: 45px;
  background:#FFF url(../images/sprite_ok.png) 20px center no-repeat;
}

.q-images-box .wing-box-error {
  display: block;
  text-indent: 45px;
  background:#FFF url(../images/sprite_error.png) 20px center no-repeat;
}

.q-images-box .wing-box-warn {
  display: block;
  text-indent: 45px;
  background:#FFF url(../images/sprite_warn.png) 20px center no-repeat;
}

.q-images-box .q-box-item .wing-box {
  display: none;
  position:absolute;
  left:10px;
  top:70px;
  right:10px;
  bottom:0px; 
  height:50px;
  border-radius:5px;
  border:1px solid #F1F1F1;
  line-height:50px;
  font-size:14px;
  font-family:arial;
  text-align:left;
}

.q-images-box .layer-mask {
  display: none;
  position:absolute;
  left:10px;
  top:70px;
  right:10px;
  bottom:0px; 
  height:50px;
  border-radius:5px;
  border:1px solid #F1F1F1;
  line-height:50px;
  font-size:14px;
  font-family:arial;
  text-align:left;
}

.q-images-box .layer-mask.wing-box-ing {
  display: block ;
  text-indent: 53px;
  background:#FFF url(../images/wing32.gif) 10px center no-repeat;
}

.q-images-box .layer-mask.wing-box-ok {
  display:block ;
  text-indent: 45px;
  background:#FFF url(../images/sprite_ok.png) 20px center no-repeat;
}

.q-images-box .layer-mask.wing-box-error {
  display: block;
  text-indent: 45px;
  background:#FFF url(../images/sprite_error.png) 20px center no-repeat;
}

.q-images-box .layer-mask.wing-box-warn {
  display: block;
  text-indent: 45px;
  background:#FFF url(../images/sprite_warn.png) 20px center no-repeat;
}

.q-window-mask.q-top-mask {
  filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;
}


.q-placeholder, .q-placeholder input {
  height: 22px;;
  line-height: 22px;
}

.q-placeholder {
  width: 480px;
}

.q-placeholder input {
  width: 472px;
}


.q-alert-content {
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-repeat: no-repeat;
  background-position: 20px 20px;

}

.q-alert-content.q-alert-info {
  background-image: url(../images/sprite_warn.png);
}

.q-alert-content.q-alert-error {
  background-image: url(../images/sprite_error.png);
}

.q-alert-content.q-alert-ok {
  background-image: url(../images/sprite_ok.png);
}


