
.text { overflow:hidden; text-overflow:ellipsis;white-space:nowrap }


#album-view {
  position:fixed;
  background:#525252;
  top:38px;
  left: 0;
  right:0;
  bottom:0;
  overflow:auto;
  visibility:hidden;
  z-index: 3;
}

#album-left {
  margin-right:260px;
  /*border-right: 1px solid #4c4c4c;*/
  border-right: 1px solid transparent;
  background: transparent;
  height: 100%;
  position: relative;
}

#album-right {
  width: 259px;
  float: right;
  /*border-left: 1px solid #5f5f5f;*/
  border-left: 1px solid transparent;
  background: transparent;
  height: 100%;
  position:relative;
}

#image-container {
  background: #5F5F5F;
  position: absolute;
  top: 0px;
  left: 1px;
  right: 1px;
  bottom:0px;
  overflow:hidden;
}

#image-view {
  position: absolute;
  -moz-user-select:none;
  -webkit-user-select: none; 
}

#image-list-bar {
  background: transparent;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0;
  height: 80px;
  line-height: 100px;
  overflow:hidden;
  text-align:center;
}

#image-list-alpha {
  background: #000;
  height: 80px;
  margin: auto;
}

#image-list-container {
  background: transparent;
  position: absolute;
  left: 10px;
  top: 0;
  right: 10px;
  height: 80px; 
  margin: auto;
  margin-top: 0px;
  overflow:hidden;
  white-space: nowrap;
  z-index: 1;
}

#image-list-bar li {
  display:block;
  width: 96px;
  height: 64px;
  opacity: .7;
}

#image-list-bar li img {
  width: 96px;
  height: 64px;
  box-shadow:0 1px 3px rgba(0,0,0,.3);
  -moz-box-shadow:0 1px 3px rgba(0,0,0,.3);
  -webkit-box-shadow:0 1px 3px rgba(0,0,0,.3) 
}

#image-list-bar li.item {
  display:inline-block;
  margin: 5px 0px 5px 2px;
  border: 3px solid transparent;
}

#image-list-bar li.item:hover, #image-list-bar li.selected  {
  opacity: 1;
  border: 3px solid #F80;
}

#image-title {
  display: none;
}

#image-list {

  margin:0;
}

#image-loadding {
  visibility: hidden;
  position:absolute;
  left: 40%;
  right: 40%;
  margin: auto;
  width: 200px;
  height: 28px;
  line-height: 28px;
  z-index: 2;
  color: #000;
  background: #F00;
  font-size: 14px;
  text-indent: 5px;
  text-align: center;
  text-shadow: 1px 2px 3px #FFFFFFC0; 
}

.btn-prev-next {
  width: 45px;
  height: 75px;
  position:absolute;
  top: 50%;
  margin-top: -73px ; /*-80 + -45*/
  background:  url(images/album_arrow.png) left top no-repeat;
}

#image-next {
  position:absolute;
  right:0;
  background-position: left top;
}

#image-prev {
  position:absolute;
  left:0;
  background-position: left -86px;
}


#image-next:hover {
  position:absolute;
  right:0;
  background-position: -46px top;
}

#image-prev:hover {
  position:absolute;
  left:0;
  background-position: -46px -86px;
}


#image-info {
  color: #ccc;
  text-indent: 10px;
  margin-top: 7px;
  margin-right: 10px;
}

#image-info hr {
  width: 230px;
  border-bottom: 1px solid #5f5f5f;
  border-top: 1px solid #4c4c4c;
  height: 0;
  margin: 2px 0 3px 10px !important;
}

#image-info dl dt {
  font-size: 14px;
  line-height: 25px;
  width: 240px;
}

#album-close-button {
  background: transparent url(images/album_player_close.png) center center no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 6px;
  right: 7px;

}

#toolbar {
  background: transparent;
  height: 40px;
}

#toolbar a {
  display: inline-block;
  line-height: 40px;
  height: 40px;
  width: 40px;
  background: transparent;
  cursor: default;
  text-align: left;
}

#toolbar a:hover {
  backgrounds: #222;
  color: #F90;
}

#toolbar a#toolbar-restore {
  text-align:left;
  color: #CCC;
  background: transparent url(images/album_toolbar.png) -12px -6px no-repeat;
}

#toolbar a:hover#toolbar-restore {
  background: transparent url(images/album_toolbar.png) -12px -56px no-repeat;
}

#toolbar a#toolbar-direction {
  background: transparent url(images/album_toolbar.png) -62px -6px no-repeat;
}

#toolbar a:hover#toolbar-direction {
  background: transparent url(images/album_toolbar.png) -62px -56px no-repeat;
}

#toolbar a#toolbar-favorite {
  display: none;
  background: transparent url(images/album_toolbar.png) -112px -6px no-repeat;
}

#toolbar a:hover#toolbar-favorite, #toolbar a#toolbar-favorite.checked {
  background: transparent url(images/album_toolbar.png) -112px -56px no-repeat;
}

#toolbar a#toolbar-share {
  background: transparent url(images/album_toolbar.png) -162px -6px no-repeat;
}

#toolbar a:hover#toolbar-share {
  background: transparent url(images/album_toolbar.png) -162px -56px no-repeat;
}

#toolbar a#toolbar-download {
  background: transparent url(images/album_toolbar.png) -212px -6px no-repeat;
}

#toolbar a:hover#toolbar-download {
  background: transparent url(images/album_toolbar.png) -212px -56px no-repeat;
}

.user-profile{*zoom:1; display: none;}
.user-profile .profile-basic{border-bottom:0px dotted #ccc;background:url() left top no-repeat;padding-top:5px;}
.user-profile-gold .profile-basic{background-position:right top;}
.user-profile .profile-basic dl{padding:10px 10px 5px 10px;*zoom:1;}
.user-profile .profile-basic dl:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.user-profile .profile-basic dl dt{float:left;width:90px;text-align:center;position:relative;}
.user-profile .profile-basic dl dt .face-uploader{position:absolute;left:0;right:0;top:65px;width:90px;text-align:center;}
.user-profile .profile-basic dl dd{margin-left:100px;padding:2px 0;font-size:14px;}
.user-profile .profile-basic dl dd.name{ text-indent: 20px;margin-top:-6px;word-wrap: break-word;}
.user-profile .profile-basic dl dd.name a {font-size:16px;padding:5px 30px 5px 0;font-family:'helvetica neue', arial, sans-serif; color: #666;}
.user-profile .profile-basic dl dd.name a:hover {font-size:16px;padding:5px 30px 5px 0;font-family:'helvetica neue', arial, sans-serif;color:#000;text-decoration: none;}
.user-profile .profile-basic dl dd.privacy-set{text-align:right;font-size:12px;}
.user-profile .profile-basic dl dd.count {text-align:left; font-size:16px; height: 65px; margin-right: 10px;}
.user-profile .profile-basic dl dd.count span {float: left;width: 100px; text-align:center; height:50px;margin: 5px 0;border-right:1px solid #F5F2F2; }
